@model varlikKatmani.Concrete.experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Deneyimi Düzenle</h4>
                <p class="card-description">  </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        <p class="form-control-static">@Model.experienceID</p>
                        @Html.HiddenFor(x => x.experienceID)
                    </div>
                    <div class="form-group">
                        <label >Name</label>
                        @Html.TextAreaFor(x => x.name , new {@class ="form-control"})
                    </div>
                    <div class="form-group">
                        <label >Date</label>
                        @Html.TextAreaFor(x => x.date    , new {@class ="form-control"})
                    </div>
                    <div class="form-group">
                        <label >Resim Adresi</label>
                        @Html.TextAreaFor(x => x.imageURL , new {@class ="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        @Html.TextAreaFor(x => x.description,6,3, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}

    

